* {
	margin: 0;
}

html, body {
	height: 100%;
}


body {
    display: -webkit-box;				/* 1. Ye Olde Flexbox for Webkit */
    display: -webkit-flex;				/* 2. Prefixed "new flexbox" */
    display: -ms-flexbox;				/* 3. Tweener flexbox for IE10 */
    display: flex;						/* 4. unprefixed standard "new flexbox" version for the rest */

    -webkit-box-orient: vertical;       /* 1. */
    -webkit-flex-direction: column;		/* 2. */
    -ms-flex-direction: column;			/* 3. */
    flex-direction: column;				/* 4. */

    height: auto;
    min-height: 100vh;
}

main {
    -webkit-box-flex: 1;				/* 1. */
    -webkit-flex: 1;					/* 2. */
    -ms-flex: 1;						/* 3. */
    flex: 1;			 			    /* 4. */
}

footer {
	background: yellow; /* to test it */
}
